.sidebar {
    min-width: 220px;
    background: #215B63;
    color: #d0c3ce;
}


        .team_name {
            color: white;
            font-size: 1.125rem;
        }

        .team_user {
            font-size: 0.875rem;

        }
